#footer-links
  %ul
    %li=link_to 'About Us', refinery.page_path('about')
    %li=link_to 'Contact Us', refinery.page_path('contact')
    %li=link_to 'Areas of Practice', refinery.page_path('practice')

#contact-info
  %ul
    %li
      %a.phone-mobile{:href => 'tel:212-785-1060'} Telephone: (212) 785-1060
    %li
      Email: #{mail_to 'emekanwokoro@aol.com', 'help@nwokoro-scola.com'}
    %li
      Address: 44 Wall Street, Suite 1218, New York, New York 10005

#copyright
  %p= t('.copyright', :year => Time.now.year,:site_name => Refinery::Core.site_name)