#media-news-page {
  #media-slider {
    width: 100%;
    overflow: hidden;
    background-color: #fffefe;
  }

  #newslinks {
    margin-left:60px;
  }

  #news-links {
    height:455px;
    overflow-y: scroll;
    width:299px;
    background-color: #fffefe;

    .useful-links {
      width:250px;
      background-color: white;

      h3 {
        text-align: center;
      }
    }

    .useful-links ol{
      counter-reset: li;
      list-style: none;
      *list-style: decimal;
      font-size: 15px;
      padding: 0;
      margin-bottom: 4em;
      width:300px;

    }
    .useful-links a{
      position: relative;
      display: block;
      padding: .4em .4em .4em 2em;
      *padding: .4em;
      margin: .2em 0;
      background: #333; //li background
      color: white;
      text-decoration: none;
      box-shadow:inset 0.5em 0 black;
      -webkit-transition: box-shadow 1s; /* For Safari 3.1 to 6.0 */
      transition: box-shadow 1s;

    }

    .useful-links a:hover{
      box-shadow:inset 2em 0 #f61111;;
    }
  }

  #jssor_1 {
    float:left;
  }
}