#media-news-page {
  section#body {
    float: left;
    width: 70%;
  }
  section#side_body {
    float: left;
    width: 30%;
    padding-bottom: 16px;
    border-bottom: solid 1px;
  }

  #newslinks {
    margin-left:60px;
  }

  #news-links {
    height:455px;
    overflow-y: scroll;

    ul {
      margin: 0px;
    }

    ol {
      margin: 0px;
    }

    h4 {
      text-align: center;
      margin:0px;
      text-decoration: underline;
    }

    .useful-links {
      h3 {
        text-align: center;
      }
    }

    .useful-links ol {
      counter-reset: li;
      list-style: none;
      *list-style: decimal;
      font-size: 15px;
      padding: 0;
      width:300px;

    }
    .useful-links a{
      position: relative;
      display: block;
      padding: .4em .4em .4em 2em;
      *padding: .4em;
      margin: .2em 0;
      background: #333; //li background
      color: white;
      text-decoration: none;
      box-shadow:inset 0.5em 0 black;
      -webkit-transition: box-shadow 1s; /* For Safari 3.1 to 6.0 */
      transition: box-shadow 1s;

    }

    .useful-links a:hover{
      box-shadow:inset 2em 0 #f61111;;
    }
  }

  #jssor_1 {
    position: relative;
    margin: 0 auto;
    top: 0px;
    background-color: #24262e;
    left: 0px;
    overflow: hidden;
    visibility: hidden;
    width: 800px;
    height: 500px;

    #arrows {
      position:relative;
      top: 100px;
    }

    span[data-u="arrowleft"] {
      display:inline-block;
      margin-right: 40px;
    }
    span[data-u="arrowright"] {
      display:inline-block;
      margin-left: 760px;
    }
  }

  [data-u="loading"] {
    position: absolute;
  }

  [data-u="slides"] {
    cursor: default;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 356px;
  }

  [data-u="thumbnavigator"] {
    position: relative;
    top: 355px;
  }

}