#practice-areas-page {
  section#side_body {
    margin: 40px;
    background: rgba(239, 228, 144, 0.13);
  }
  .content {
    border: solid 1px #4d91fe;
    margin-bottom: 10px;
  }
  .box-heading {
    background: #333333;
    text-align: center;
    padding: 11px 10px 7px;

    a {
      color: white;
    }
  }

  .box-body {
    padding: 5px;
    overflow-x: auto;
  }
}